# Dependencies
node_modules/

# Build output
.output/
.nuxt/
dist/

# Env files
.env
!.env.example

# Prisma
prisma/migrations/dev-*
*.db
*.db-journal

# OS
.DS_Store
*.log

# Editors
.vscode/
.idea/
